{% load static  %}

<div class="banner1">
    <div class="container">
        <div class="w3_agileits_banner_main_grid">
            <div class="w3_agile_logo">
                 <a href="{% url 'home' %}"><img src="{% static 'images/agro0.png' %}" style="width: 341px; height: 286px; margin-top: -128px; margin-left: -135px" alt=""></a>
            </div>
            <div class="agile_social_icons_banner">
                <ul class="agileits_social_list">
                     <li><a href="#" class="agile_twitter"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="agileits_w3layouts_menu">
                <div class="shy-menu">
                    <a class="shy-menu-hamburger">
                        <span class="layer top"></span>
                        <span class="layer mid"></span>
                        <span class="layer btm"></span>
                    </a>
                    <div class="shy-menu-panel">
                        <nav class="menu menu--horatio link-effect-8" id="link-effect-8">
                            <ul class="w3layouts_menu__list">
									<li class="active"><a href="{% url 'home' %}">Asosiy</a></li>
									<li><a href="{% url 'servicer' %}">MAXSULOTLAR</a></li>
									<li><a href="{% url 'news' %}">YANGILIKLAR</a></li>
									<li><a href="{% url 'contact' %}">Aloqa</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>