{% load static %}

<div class="footer">
    <div class="container">
        <div class="w3agile_footer_grids">
            <div class="col-md-3 agileinfo_footer_grid">
                <div class="agileits_w3layouts_footer_logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/agro0.png' %}"
                                                    style="width: 341px; height: 286px; margin-top: -128px; margin-left: -135px"
                                                    alt=""></a>
                </div>
            </div>
            <div class="col-md-4 agileinfo_footer_grid">
                <h3>Aloqa maʼlumotlari</h3>
                <h4><span>+99893 502 30 05</span></h4>
                <h4><span style="margin-top: 12px">+99893 502 30 07</span></h4>
                <h4><span style="margin-top: 12px">+99893 502 30 08</span></h4>
                <h4><span style="margin-top: 12px">+99893 502 30 09</span></h4>
                <h4><span style="margin-top: 12px">+99893 502 30 11</span></h4>
                <p>Uzbekiston Respublikasi Toshkent shaxar <br> Sergili tumani Sofil ko‘chasi, 51-uy</p>
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2 agileinfo_footer_grid agileinfo_footer_grid1">
                <h3>Navigatsiya</h3>
                <ul class="w3layouts_footer_nav">
                    <li><a href="{% url 'home' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Asosiy</a>
                    </li>

                    <li><a href="{% url 'servicer' %}"><i class="fa fa-long-arrow-right"
                                                          aria-hidden="true"></i>MAXSULOTLAR</a></li>

                    <li><a href="{% url 'news' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>YANGILIKLAR</a>
                    <li><a href="{% url 'contact' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Aloqa</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="w3_agileits_footer_copy">
        <div class="container">
            <p><a target="_blank" href="#">2021 © Barcha huquqlar himoya qilingan. Barcha xizmatlar litsenziyalangan.
                Code_xn</a></p>
        </div>
    </div>
</div>