{% load static %}
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <title>AGROBUSINESS</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>

    <link rel="icon" href="{% static 'images/agro1.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/agro1png' %}"/>


    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <link href="{% static 'css/mislider.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/mislider-custom.css' %}" rel="stylesheet" type="text/css"/>
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="http://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
</head>

<body>
<script src='../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function (v, d, o, ai) {
        ai = d.createElement("script");
        ai.defer = true;
        ai.async = true;
        ai.src = v.location.protocol + o;
        d.head.appendChild(ai);
    })(window, document, "../../../../../../vdo.ai/core/w3layouts/vdo.ai.js");
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../../../../../www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-30027142-1', 'w3layouts.com');
    ga('send', 'pageview');
</script>
<body>
<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="w3_agileits_banner_main_grid">
            <div class="w3_agile_logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/agro0.png' %}"
                                                style="width: 497px; height: 379px; margin-top: -179px; margin-left: -135px"
                                                alt=""></a>
            </div>
            <div class="agile_social_icons_banner">
                <ul class="agileits_social_list">
                    <li><a href="#" class="agile_twitter"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="agileits_w3layouts_menu">
                <div class="shy-menu">
                    <a class="shy-menu-hamburger">
                        <span class="layer top"></span>
                        <span class="layer mid"></span>
                        <span class="layer btm"></span>
                    </a>
                    <div class="shy-menu-panel">
                        <nav class="menu menu--horatio link-effect-8" id="link-effect-8">
                            <ul class="w3layouts_menu__list">
                                <li class="active"><a href="{% url 'home' %}">Asosiy</a></li>
                                <li><a href="{% url 'servicer' %}">Mahsulotlar
                                </a></li>
                                <li><a href="{% url 'news' %}">Yangiliklar

                                </a></li>
                                <li><a href="{% url 'contact' %}">Aloqa</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="w3_banner_info">
            <div class="w3_banner_info_grid">
                <h3 class="test">Bir dona ekilgan muaffaqiyatli urug‘ sizga minglab sarmoya keltirishi mumkin, bu tabiat
                    qonuni.</h3>
                <p>
                </p>
                <ul>
                    <li><a href="{% url 'contact' %}" class="w3l_contact"
                           style="color: white !important;">Bog‘lanish</a></li>
                </ul>
            </div>
        </div>
        <div class="thim-click-to-bottom">
            <a href="#welcome_bottom" class="scroll">
                <i class="fa  fa-chevron-down"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner -->
<!---728x90--->

<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Germinate
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <section>
                <div class="modal-body">
                    <img src="{% static 'images/4.jpg' %}" alt=" " class="img-responsive"/>
                    <p>Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.</i></p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="col-md-4 agileits_banner_bottom_left">
        <div class="agileinfo_banner_bottom_pos">
            <div class="w3_agileits_banner_bottom_pos_grid">
                <div class="col-xs-4 wthree_banner_bottom_grid_left">
                    <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                        <i class="fa fa-pagelines" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_banner_bottom_grid_right">
                    <h4>Bepul konsultatsiya</h4>
                    {#                    <p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>#}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 agileits_banner_bottom_left1">
        <div class="agileinfo_banner_bottom_pos">
            <div class="w3_agileits_banner_bottom_pos_grid">
                <div class="col-xs-4 wthree_banner_bottom_grid_left">
                    <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_banner_bottom_grid_right">
                    <h4>Sertifikatlangan mahsulotlar</h4>
                    {#                    <p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>#}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 agileits_banner_bottom_left2">
        <div class="agileinfo_banner_bottom_pos">
            <div class="w3_agileits_banner_bottom_pos_grid">
                <div class="col-xs-4 wthree_banner_bottom_grid_left">
                    <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                        <i class="fa fa-yelp" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 wthree_banner_bottom_grid_right">
                    <h4>Bepul ishonch telefoni</h4>
                    {#                    <p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>#}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner-bottom -->
<!---728x90--->

<!-- welcome -->
{#<div class="welcome">#}
{#    <div class="container">#}
{#        <h3 class="agileits_w3layouts_head">Bizning <span>maxsulotlarimiz-ishonchli</span> tanlov!</h3>#}
{#        <div class="w3_agile_image">#}
{#            <img src="{% static 'images/1.png' %}" alt=" " class="img-responsive"/>#}
{#        </div>#}
{#        <p class="agile_para">Bizni mahsulotlar.</p>#}
{#    </div>#}
{#    <!---728x90--->#}
{##}
{#    <div class="mis-stage w3_agileits_welcome_grids">#}
{#        <!-- The element to select and apply miSlider to - the class is optional -->#}
{#        <ol class="mis-slider">#}
{#            <li class="mis-slide">#}
{#                <figure>#}
{#                    <img src="{% static 'images/rasm2.jpg' %}"  alt=" " class="img-responsive"/>#}
{#                    <figcaption>Qulupnay</figcaption>#}
{#                </figure>#}
{#            </li>#}
{#            <li class="mis-slide">#}
{#                <figure>#}
{#                    <img src="{% static 'images/3.png' %}" alt=" " class="img-responsive"/>#}
{#                    <figcaption>Apelsin</figcaption>#}
{#                </figure>#}
{#            </li>#}
{#            <li class="mis-slide">#}
{#                <figure>#}
{#                    <img src="{% static 'images/4.png' %}" alt=" " class="img-responsive"/>#}
{#                    <figcaption>Anorlar</figcaption>#}
{#                </figure>#}
{#            </li>#}
{#            <li class="mis-slide">#}
{#                <figure>#}
{#                    <img src="{% static 'images/5.png' %}" alt=" " class="img-responsive"/>#}
{#                    <figcaption>Limon</figcaption>#}
{#                </figure>#}
{#            </li>#}
{#            <li class="mis-slide">#}
{#                <figure>#}
{#                    <img src="{% static 'images/6.png' %}" alt=" " class="img-responsive"/>#}
{#                    <figcaption>Kivi mevalari</figcaption>#}
{#                </figure>#}
{#            </li>#}
{#            <li class="mis-slide">#}
{#                <figure>#}
{#                    <img src="{% static 'images/7.png' %}" alt=" " class="img-responsive"/>#}
{#                    <figcaption>Olmalar</figcaption>#}
{#                </figure>#}
{#            </li>#}
{#        </ol>#}
{#    </div>#}
{#</div>#}
<!-- //welcome -->
<!-- welcome-bottom -->
{#<div id="welcome_bottom" class="welcome-bottom" style="margin-top: 100px">#}
{#    <div class="col-md-6 wthree_welcome_bottom_left">#}
{#        <h3>Biz doim <span>harakatdamiz</span></h3>#}
{#        <p>Bizning boyitiIgan o‘simlik uruglari va o‘simliklarni himoya qilish vositalarini harid qilgan muaffaqiyatli#}
{#            mijozlarimiz-raqamarda!</p>#}
{#        <div class="col-md-6 wthree_welcome_bottom_left_grid">#}
{#            <div class="w3l_social_icon_gridl">#}
{#                <img src="{% static 'images/8.png' %}" alt=" " class="img-responsive"/>#}
{#            </div>#}
{#            <div class="w3l_social_icon_gridr">#}
{#                <h4 class="counter">23,536</h4>#}
{#            </div>#}
{#            <div class="clearfix"></div>#}
{#            <div class="w3l_social_icon_grid_pos">#}
{#                <label>-</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6 wthree_welcome_bottom_left_grid">#}
{#            <div class="w3l_social_icon_gridl">#}
{#                <img src="{% static 'images/9.png' %}" alt=" " class="img-responsive"/>#}
{#            </div>#}
{#            <div class="w3l_social_icon_gridr">#}
{#                <h4 class="counter">53,234</h4>#}
{#            </div>#}
{#            <div class="clearfix"></div>#}
{#            <div class="w3l_social_icon_grid_pos">#}
{#                <label>-</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6 wthree_welcome_bottom_left_grid">#}
{#            <div class="w3l_social_icon_gridl">#}
{#                <img src="{% static 'images/10.png' %}" alt=" " class="img-responsive"/>#}
{#            </div>#}
{#            <div class="w3l_social_icon_gridr">#}
{#                <h4 class="counter">43,568</h4>#}
{#            </div>#}
{#            <div class="clearfix"></div>#}
{#            <div class="w3l_social_icon_grid_pos">#}
{#                <label>-</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6 wthree_welcome_bottom_left_grid">#}
{#            <div class="w3l_social_icon_gridl">#}
{#                <img src="{% static 'images/11.png' %}" alt=" " class="img-responsive"/>#}
{#            </div>#}
{#            <div class="w3l_social_icon_gridr">#}
{#                <h4 class="counter">12,432</h4>#}
{#            </div>#}
{#            <div class="clearfix"></div>#}
{#            <div class="w3l_social_icon_grid_pos">#}
{#                <label>-</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="clearfix"></div>#}
{#    </div>#}
{#    <div class="col-md-6 wthree_welcome_bottom_right">#}
{#        <div class="agileinfo_grid">#}
{#            <figure class="agileits_effect_moses">#}
{#                <img src="{% static 'images/4.jpg' %}" alt=" " class="img-responsive"/>#}
{#                <figcaption>#}
{#                    <h4><span>Kelajakda</span> o‘sish uchun plantatsiya</h4>#}
{#                    <p>Nullam in luctus lectus. Mauris lobortis dui mauris, non vestibulum#}
{#                        magna blandit at scelerisque tellus ipsum nec ipsum.</p>#}
{#                </figcaption>#}
{#            </figure>#}
{#        </div>#}
{#    </div>#}
{#    <div class="clearfix"></div>#}
{#</div>#}
<!-- //welcome-bottom -->
<!-- news -->
<div class="welcome">
    <div class="container">
        <h3 class="agileits_w3layouts_head">So‘nggi <span>yangiliklar</span></h3>
        <div class="w3_agile_image">
            <img src="{% static 'images/1.png' %}" alt=" " class="img-responsive">
        </div>
        <p class="agile_para">Faqat Bizda eng so‘ngi yangiliklar.</p>
        <div class="w3ls_news_grids">
            {% for i in nows %}
                <div class="col-md-4 w3ls_news_grid">
                    <div class="w3layouts_news_grid">
                        <img style="height: 313px; width: 349px" src="{{ i.photo.url }}" alt=" "
                             class="img-responsive"/>
                        {#						<div class="w3layouts_news_grid_pos">#}
                        {#							<div class="wthree_text"><h3>plantation</h3></div>#}
                        {#						</div>#}
                    </div>
                    <div class="agileits_w3layouts_news_grid" style="height: 191px !important;">
                        <ul>
                            <li><i class="fa fa-calendar" aria-hidden="true"></i>{{ i.data|date }}</li>
                            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{ user }}</a></li>
                        </ul>
                        <h4><a href="{% url 'news' %}" data-toggle="modal"
                               data-target="">{{ i.name|truncatechars:"24" }}</a></h4>
                        <p>{{ i.text|truncatechars:"85" }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //news -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <h3 class="agileits_w3layouts_head agileinfo_head">Bizning<span> yangiliklarimizga</span> obuna bo‘ling</h3>
        <div class="w3_agile_image">
            <img src="{% static 'images/12.png' %}" alt=" " class="img-responsive">

        </div>
        <div class="w3ls_news_grids w3ls_newsletter_grids">
            {#            <ul  style="margin-left: 27rem; margin-top: 45px">#}
            {#            <div style="text-align: center">#}
            <a style="font-size: 45px; color: white; margin-left: 35rem" href="https://t.me/agrobusinessllc"
               class="agile_twitter"><i class="fa fa-telegram" aria-hidden="true"></i></a>
            {#                               </div>#}
            {#                </ul>#}
            {#            <form action="#" method="post">#}
            {#                <input name="Your Name" placeholder="Your Name" type="text" required="">#}
            {#                <input name="Your Email" placeholder="Your Email" type="email" required="">#}
            {#                <input type="submit" value="Subscribe">#}
            {#            </form>#}
        </div>
    </div>
</div>
<!-- //newsletter -->
<!-- footer -->


<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div>
            <img style="width: 850px; margin-left: 150px; margin-top: -19rem" src="{% static "images/agro0.png" %}"
                 alt="">
        </div>
        <h3 class="agileits_w3layouts_head" style="margin-top: -139px">Bizning <span>Hamkorlar</span></h3>
        <div class="w3_agile_image">
            <img src="{% static 'images/1.png' %}" alt=" " class="img-responsive"/>
        </div>
        <p class="agile_para" style="color: black;  font-size: 15px"><b>TASHKILOTIMIZ BUGUNGI KUNDA DUNYONING
            RIVOJLANGAN
            ‘SEITEC GENETIS‘ (AMERIKA), 'TURKISH GENETICS-ELESTUS‘ (TURKIYA), 'AGRO ANOTOLIA'
            (TURKIYA) ‘RAYAL‘ (TURKIYA) ‘BAYRAM TOHUM‘ (TURKIYA) URUG‘CHILIK KAMPANYALARI BILAN
            XAMDA ‘ANOCA QUIMICA‘ (ISPANIYANI) MINERAL OZUQALAR ISHLAB CHIQARISH KOMPANYASI ‘HEKTAS‘ ‘FERBIS‘ ‘SUNSET‘
            (TURKIYA) O‘SIMLIKLARNI KIMYOVIY HIMOYA QILiSH VOSITALARINI ISHLAB CHIQARUVCHI KOMPANIYALARNING
            O'ZBEKISTONDAGI RASMIY
            XAMKORI SANALADI.</b></p>
    </div>

    <div>
        <div class="container" style="background: white !important;">
            {#            <div style="display: flex">#}
            <div class="row" style="margin-top: 45px; margin-left: 50px">
                <div class="col-lg-4">
                    <img style="height: 100px; width: 250px;"
                                           src="{% static 'images/turkish.png' %}"
                                           alt="">
                </div>
                <div class="col-lg-4">
                    <img style="height: 100px; width: 250px;" src="{% static 'images/agro12.jpg' %}"
                                           alt="">
                </div>

                <div class="col-lg-4">
                    <img style="height: 100px; width: 250px; "
                                           src="{% static 'images/agro3.png' %}">
                </div>

            </div>
            <div class="row" style="margin-top: 50px; margin-left: 50px">

                <div class="col-lg-3"><img style="height: 250px; width: 250px;"
                                           src="{% static 'images/agro7.png' %}"
                                           alt="">
                </div>
                <div class="col-lg-3"><img style="height: 250px; width: 250px" src="{% static 'images/agro6.jpg' %}"
                                           alt="">
                </div>
                <div class="col-lg-3"><img style="height: 350px; width: 250px" src="{% static 'images/rasmni.jpg' %}"
                                           alt="">
                </div>
                <div class="col-lg-3"><img style="height: 250px; width: 250px" src="{% static 'images/agro2.jpg' %}"
                                           alt="">
                </div>
            </div>

        </div>
    </div>
</div>


{% include 'main/footer.html' %}


<!-- //footer -->
<!-- stats -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countup.js' %}"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats -->
<!-- mislider -->
<script src="{% static 'js/mislider.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var slider = $('.mis-stage').miSlider({
            //  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
            stageHeight: 380,
            //  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
            slidesOnStage: false,
            //  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
            slidePosition: 'center',
            //  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
            slideStart: 'mid',
            //  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
            slideScaling: 150,
            //  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
            offsetV: -5,
            //  Center slide contents vertically - Boolean. Default: false
            centerV: true,
            //  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
            navButtonsOpacity: 1,
        });
    });
</script>
<!-- //mislider -->
<!-- text-effect -->
<script type="text/javascript" src="{% static 'js/jquery.transit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.textFx.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.test').textFx({
            type: 'fadeIn',
            iChar: 100,
            iAnim: 1000
        });
    });
</script>
<!-- //text-effect -->
<!-- menu -->
<script>
    $(function () {

        initDropDowns($("div.shy-menu"));

    });

    function initDropDowns(allMenus) {

        allMenus.children(".shy-menu-hamburger").on("click", function () {

            var thisTrigger = jQuery(this),
                thisMenu = thisTrigger.parent(),
                thisPanel = thisTrigger.next();

            if (thisMenu.hasClass("is-open")) {

                thisMenu.removeClass("is-open");

            } else {

                allMenus.removeClass("is-open");
                thisMenu.addClass("is-open");
                thisPanel.on("click", function (e) {
                    e.stopPropagation();
                });
            }

            return false;
        });
    }
</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>